<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Admin Page</title>

     <!-- Meta Information -->
     <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
     <title>Results Page</title>

     <!-- External CSS -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;700&display=swap" rel="stylesheet">

     <!-- jQuery and Bootstrap CDNs -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

     <!-- App CSS -->
     <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
     <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
     <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

     <!-- App JS -->
     <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
     <script type="text/javascript" src="/scripts/app.js"></script>
     <script type="text/javascript" src="/scripts/update.js"></script>

    <%- include('partials/_header'); %>
  </head>

  <body>
    <h1>Poll creation</h1>

  </form>
  <input type = "text" name = "poll_id" id = "poll_id" value = "<%= poll_id %>" hidden/>
  <input type = "text" name = "user_id" id = "user_id" value = "<%= user['id'] %>" hidden/>
  <form action = "/poll/<%= user['id'] + '/' + poll_id %>" method = "POST" id = "pollForm" >

    <% for (let num = 1; num <= opNum; num++) { %>
       <label for = "op<%= num %>">Option <%= num %></label>
       <input type="text" name = "op<%= num %>" id = "option" />
    <% } %>

    <input id = "sub" type="submit" value = "submit" />
  </form>
  <div id = "linksMsg">
    <h4 >Your poll has been created. Below are 3 links which have been sent to you at the email address you provided</h4>
    <label for = "admin_url">Admin URL</label>
    <input type = "url" name = "admin_url" value = "/admin/<%= user['id'] + '/' + poll_id %>" />

    <label for = "admin_url" >Voting URL</label>
    <input type = "url" name = "voting_url" value = "/vote/<%= poll_id %>" />
  </div>

  <!-- <label for = "">Voting URL</label>
  <input type = "url" name = "voting_url" value = "/vote/<%= poll_id %>" hidden/>  -->


  </body>
</html>


