<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Page</title>

    < <!-- Meta Information -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Results Page</title>

    <!-- External CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;700&display=swap" rel="stylesheet">

    <!-- jQuery and Bootstrap CDNs -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- App CSS -->
    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- App JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <%- include('partials/_header'); %>
  </head>

  <body>
    <h1>Admin</h1>

  </form>
  <form action = "/admin/<%= user['id'] + '/' + poll_id %>" method = "POST">

    <h4>Poll Topic and Description</h4>

      <label for = "title">Topic</label>
      <input type = "text" name = "title" value = "<%= results[0].title %>" />

      <label for = "desc">Description</label>
      <input type = "text" name = "desc" value = "<%= results[0].description %>" />



    <h4>Options</h4>
    <%
      let c = 0;
      for (let r of results) {
        c++;
    %>

      <label for = "<%= r.id %>">Option <%= c %></label>
      <input type = "text" name = "<%= r.id %>" value = "<%= r.choice %>" />
      <br />

    <% } %>

    <input id = "sub" type="submit" value = "Update" />
  </form>


  </body>
</html>

 <!-- Option 0 <input type="text" name = "op0" id = "option">
    Option 1 <input type="text" name = "op1" id = "option">
    Option 2 <input type="text" name = "op2" id = "option">
    Option 3 <input type="text" name = "op3" id = "option">
    Option 4 <input type="text" name = "op4" id = "option">
    Option 5 <input type="text" name = "op5" id = "option">
    Option 6 <input type="text" name = "op6" id = "option">
    Option 7 <input type="text" name = "op7" id = "option">
    Option 8 <input type="text" name = "op8" id = "option">
    Option 9 <input type="text" name = "op9" id = "option"> -->
