<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin</title>

  <!-- Meta Information -->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;700&family=Shadows+Into+Light&display=swap"
    rel="stylesheet">

  <!-- jQuery and Bootstrap CDNs -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- App CSS -->
  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/update.js"></script>
  <%- include('partials/_header'); %>
</head>

<body>
  <h1>Admin Page</h1>
  <input type="text" name="poll_id" id="poll_id" value="<%= poll_id %>" hidden />
  <input type="text" name="user_id" id="user_id" value="<%= user['id'] %>" hidden />
  </form>

  <form action="/admin/<%= user['id'] + '/' + poll_id %>" method="POST"
    style="display: flex; flex-direction: column; align-items: center;">

    <h4>Poll Topic and Description</h4>

    <label for="title">Topic</label>
    <input type="text" name="title" value="<%= results[0].title %>" />

    <label for="desc">Description</label>
    <input type="text" name="desc" value="<%= results[0].description %>" />

    <h4>Options</h4>
    <section class="updateLayout">
      <% let c=0; for (let r of results) { c++; %>

        <label for="<%= r.id %>">Option <%= c %></label>
        <input type="text" name="<%= r.id %>" value="<%= r.choice %>" />
        <br />

        <% } %>
    </section>
    <input type="submit" value="Update" class="btn btn-primary" />
  </form>

</body>
